<h1>DrupalCamp Centroam&eacute;rica <hr /> Honduras</h1>

<p>¡Hola!, bienvenido a la p&aacute;gina de registro para el DrupalCamp Centroam&eacute;rica en Honduras, si no lo has hecho a&uacute;n,
  <a href="/register">¡registrate!</a>.</p>