<h1>Make your own Index</h1>

<p>Hi!, I know you're exited about your event, but you need to add it some text
  and styles for it to look presentable, if you truly do not care,
  <a href="<%= url('/register')%>"> go ahead and register!</a>.</p>

  <p>Also, let's keep it a secret, but the <a href="<%= url('/registrees') %>">list of registrees is in here</a></p>
